.btn {
    -fx-background-color: #2196F3;
    /* Material Blue */
    -fx-text-fill: white;
    -fx-background-radius: 5px;
}

.input {
    -fx-min-width: 150px;
    -fx-font-size: 16;
    -fx-font-family: "Noto Ubuntu CJK Hack";
    -fx-min-height: 24;
}